<% layout('/layouts/boilerplate') -%>
<body>
  <h3 class="mt-4">All Listings</h3>

  <div class="row listings-container">
    <% for (let listing of allListings) { %>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 listing-card-wrapper">
      <a href="/listings/<%= listing._id %>" class="text-decoration-none">
        <div class="listing-card">
          <img src="<%= listing.image.url %>" alt="listing_image" />
          <div class="card-body">
            <p class="card-text">
              <%= listing.title %> <br />
              ₹ <%= listing.price.toLocaleString("en-IN") %>
            </p>
          </div>
        </div>
      </a>
    </div>

    <% } %>
  </div>
</body>
