<% layout('/layouts/boilerplate') -%>
<body class="container py-4">
  <br /><br />
  <h3 class="mb-4">Create a New Listing</h3>

  <form
    method="POST"
    action="/listings"
    class="w-75 needs-validation"
    novalidate
  >
    <!-- Title -->
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        name="listing[title]"
        type="text"
        placeholder="Enter title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Title Looks Good!</div>
      <div class="invalid-feedback">Title is not clear</div>
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea
        name="listing[description]"
        placeholder="Enter description"
        class="form-control"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">Enter Valid Description</div>
    </div>

    <!-- Image -->
    <div class="mb-3">
      <label class="form-label">Image URL</label>
      <input
        name="listing[image][url]"
        type="text"
        placeholder="Enter image URL"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Enter Valid URL</div>
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input
        name="listing[price]"
        type="number"
        placeholder="Enter price"
        class="form-control"
        required
        min="0"
      />
      <div class="invalid-feedback">Enter Valid Price</div>
    </div>

    <!-- Country -->
    <div class="mb-3">
      <label class="form-label">Country</label>
      <input
        name="listing[country]"
        type="text"
        placeholder="Enter country"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Enter Country</div>
    </div>

    <!-- Location -->
    <div class="mb-3">
      <label class="form-label">Location</label>
      <input
        name="listing[location]"
        type="text"
        placeholder="Enter location"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Enter Valid Location</div>
    </div>

    <!-- Submit -->
    <button class="btn btn-primary mt-2 add-btn">Add</button>
  </form>
  <br /><br /><br />
  <!-- Bootstrap JS -->
</body>
